.anchor
.DS_Store
target/deploy
target/debug
target/release
target/bpfel-unknown-unknown
target/sbf-solana-solana/
target/.rustc_info.json
**/src/**/*.js
tests*/**/*.js
**/src/**/*.d.ts
**/src/**/*.map
**/*.rs.bk
node_modules
test-ledger
.prettierignore
.vscode/
target/CACHEDIR.TAG
yarn-error.log
.next
.amman/
.env
dist
lib
target