**/target/*
!**/target/types

local-scripts

.anchor
.DS_Store
**/src/**/*.js
tests*/**/*.js
**/src/**/*.d.ts
**/src/**/*.map
**/*.rs.bk
node_modules
test-ledger
.prettierignore
.vscode/
target/CACHEDIR.TAG
yarn-error.log
.next
.amman/
.env
dist
**/packages/*/lib
**/*.tsbuildinfo
