[features]
seeds = true
skip-lint = false

[programs.localnet]
libreplex_metadata="LibrQsXf9V1DmTtJLkEghoaF1kjJcAzWiEGoJn8mz7p"
libreplex_default_renderer="rndbQFmFfiQ4tTG9QPhfJeq1J9fLCSBMAPj3EbLQ7Co"
libreplex_inscriptions="inscokhJarcjaEs59QbQ7hYjrKz25LEPRfCbP8EmdUp"
libreplex_creator="78deTr7qycJ6498vSd3pNMhdCKKWxMipniitVHQcM8RM"
libreplex_shop="ListjawGEdhxuAErSyYwcTEGWQswFoi6FScnGG1RKSB"
libreplex_creator_controls="G9whLiLT9nSkxwWzWvbiKKrTL6yWxvzh2UXqNht5VXqV"
libreplex_nft="9SXDHUdtfvBGT3H2uPCNEkxmWREoqdeS1qdBudLDD6KX"
libreplex_legacy_inscribers="Leg1xVbrpq5gY6mprak3Ud4q4mBwcJi5C9ZruYjWv7n"
libreplex_fair_launch="8bvPnYE5Pvz2Z9dE6RAqWr1rzLknTndZ9hwvRE6kPDXP"
libreplex_editions="Eddy2qpzTgTfUvNJ271Wgfw3RF2LsbmRJdNTSnZajmU3"


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 100000

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb"

[[test.validator.clone]]
address = "BGUMAp9Gq7iTEuizy4pqaxsTyUCBK68MDfK752saRPUY"

[[test.validator.clone]]
address = "cmtDvXumGCrqC1Age74AVPhSRVXJMd8PJS91L8KbNCK"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 js-tests/**/*.ts"
