[features]
seeds = true
skip-lint = false

[programs.localnet]
libreplex_metadata="LibrQsXf9V1DmTtJLkEghoaF1kjJcAzWiEGoJn8mz7p"
libreplex_default_renderer="rndbQFmFfiQ4tTG9QPhfJeq1J9fLCSBMAPj3EbLQ7Co"
libreplex_inscriptions="inscokhJarcjaEs59QbQ7hYjrKz25LEPRfCbP8EmdUp"
libreplex_creator="78deTr7qycJ6498vSd3pNMhdCKKWxMipniitVHQcM8RM"
libreplex_shop="ListjawGEdhxuAErSyYwcTEGWQswFoi6FScnGG1RKSB"
libreplex_creator_controls="G9whLiLT9nSkxwWzWvbiKKrTL6yWxvzh2UXqNht5VXqV"
libreplex_nft="9SXDHUdtfvBGT3H2uPCNEkxmWREoqdeS1qdBudLDD6KX"
libreplex_legacy_inscribers="Leg1xVbrpq5gY6mprak3Ud4q4mBwcJi5C9ZruYjWv7n"
libreplex_src20="insFmVukT9LYVygNbdpSjbxPy4FtQ6WgcuChnxDLbAm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 100000

[test.validator]
#url = "https://api.devnet.solana.com"
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 js-tests/**/*.ts"
#test_rust = "mocha -t 1000000 tests2/"
#test= "mocha -t 1000000 tests"
